<!DOCTYPE html>
<html>
    <body>
        <h1>Pokemon</h1>

        <% for(let i=0; i<pokemon.length; i++){ %>
            <h2><%=pokemon[i].name%></h2>
            <img src=<%=pokemon[i].img%> />
            <br><br>
        <% } %>
    </body>
</html>
